<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles.css}" rel="stylesheet"  />

</head>
<body>
<h1>Welcome to the Matchmaker Page</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Elo</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users_matchmaker}">
    <td th:text="${user.id}">ID</td>
    <td th:text="${user.userName}">Name</td>
    <td th:text="${user.elo}">Elo</td>
    <td><!--p th:text="${user.startid[0] + ' ' + user.endid[1]}" th:unless="${user.getid() == null}">Test</p-->
    </td>

  </tr>
  </tbody>
</table>
</body>
</html>