<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles.css}" rel="stylesheet"  />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Back to EloMatch Home</a>
    <button th:href="@{/}" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>Welcome to the Matchmaker Page</h1>
<div class="row m-4 border border-dark">
  <div class="col text-center m-3">
    <table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Elo</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users_matchmaker}">
    <td th:text="${user.id}">ID</td>
    <td th:text="${user.userName}">Name</td>
    <td th:text="${user.elo}">Elo</td>
    <td><!--p th:text="${user.startid[0] + ' ' + user.endid[1]}" th:unless="${user.getid() == null}">Test</p-->
    </td>

  </tr>
  </tbody>
</table>
  </div>
</div>
</body>
</html>