<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Update User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link th:href="@{/styles.css}" rel="stylesheet"  />
</head>

<body>
<div class="container my-5">
  <h3> Update User</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-8">
        <form action="#" th:action="@{/users/update/{id}(id=${user.getId()})}" th:object="${user}" method="post">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="playerName" class="col-form-label">player name</label> <label for="playerName"></label><input type="text" th:field="*{playerName}" class="form-control" id="playerName" placeholder="playerName"> <span th:if="${#fields.hasErrors('playerName')}" th:errors="*{playerName}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="userName" class="col-form-label">user name</label> <label for="userName"></label><input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="userName"> <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="elo" class="col-form-label">elo level???</label> <label for="elo"></label><input type="text" th:field="*{elo}" class="form-control" id="elo" placeholder="elo"> <span th:if="${#fields.hasErrors('elo')}" th:errors="elo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="isToxic" class="col-form-label">is the player Toxic???</label> <label for="isToxic"></label><input type="text" th:field="*{isToxic}" class="form-control" id="isToxic" placeholder="isToxic"> <span th:if="${#fields.hasErrors('isToxic')}" th:errors="isToxic" class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
              <input type="submit" class="btn btn-primary" value="update">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>