<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>
<div class="row m-4 border border-dark">
<div class="col text-center m-3">
<table class="table table-striped">
  <thead>
  <tr>
    <th> User Name </th>
    <th> Player Name </th>
    <th> Elo </th>
    <th> Player Toxic or Not ??? </th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${users.empty}">
    <td colspan="6"> No Users Available at this time!!! </td>
  </tr>
  <tr th:each="user : ${users}">
    <td><span th:text="${user.getUserName()}"> User Name </span></td>
    <td><span th:text="${user.getPlayerName()}"> player Name </span></td>
    <td><span th:text="${user.getElo()}"> Elo </span></td>
    <td><span th:text="${user.getIsToxic()}"> Toxic level </span></td>
    <td><a th:href="@{/users/edit/{id}(id=${user.getId()})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
    <td><a th:href="@{/users/delete/{id}(id=${user.getId()})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
  </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>