<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> User Name </th>
    <th> Player Name </th>
    <th> Elo </th>
    <th> Player Toxic or Not ??? </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${users.empty}">
    <td colspan="4"> No Users Available at this time!!! </td>
  </tr>
  <tr th:each="user : ${users}">
    <td><span th:text="${user.getUserName()}"> User Name </span></td>
    <td><span th:text="${user.getPlayerName()}"> player Name </span></td>
    <td><span th:text="${user.getElo()}"> Elo </span></td>
    <td><span th:text="${user.getIsToxic()}"> Toxic level </span></td>
  </tr>
  </tbody>
</table>
</body>
</html>